*{
    padding: 0;
    margin: 0;
}
.header{
    color: orange;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-bottom:20px ;
}
.card-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 200px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.key{
    color: black;
}
@media screen and (max-width:800px){
    .card{
        width: 100%;
        height: 70vh;
    }
    img{
        height: 80%;
        width: 100%;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    .name{
        font-size: 50px;
    }
    .tel{
        font-size: 40px;
    }
}